*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
.App{
  max-width: 100%;
  background: rgb(238, 255, 255);
}
@font-face {
  font-family: primaryFont;
  src: url(../src/fonts/Lato-Black.ttf);
}
@font-face {
  font-family: secondaryFont;
  src: url(../src/fonts/Lato-Regular.ttf);
}